/* -------通用样式------- */

// markdown 中插入的图片
p > img {
  width: 60vw;
}

// markdown 中代码块
pre {
  max-width: 70vw;
  margin: 1vw 0;
  padding: 1vw;
  overflow-x: auto;
  background-color: #2d333b;
  border-radius: 1vw;
  color: #adbac7;
}

h3 {
  padding-left: 1vw;
}

li {
  line-height: 1.5vw;
}

blockquote {
  margin-left: 8px;
  padding: 0 8px;
  color: #57606a;
  border-left: 4px solid #d0d7de;
}

/* -------pc 端样式------- */
.page {
  height: 100%;
  
  & .page-header {
    color: #fff;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
  
    &__ignore {
      height: @header-height;
    }
  }

  & .page-body__ignore {
    height: calc(100% - @header-height);
  }

  & .page-sider {
    // width: @sider-width;
    height: 100%;
    border-right: 1px solid var(--semi-color-border);
    color: #fff;

    :global(.semi-navigation) {
      border-right: 0;
      height: 100%;
    }
  }
}

/* ------mobile 端样式-------- */

.page-mobile {
  height: 100vh;
  font-size: 2.5vw;
  line-height: 4vw;

  & li {
    line-height: 4vw;
  }
}

